<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.intern_choose.dao.ClassesDao">
    <!--==================================基本查询============================-->
    <!--major 和 grade 关联对象    -->
    <resultMap id="majorAndGrade" type="com.lcvc.intern_choose.model.Classes">
        <association property="major" javaType="com.lcvc.intern_choose.model.Major" column="majorId" select="com.lcvc.intern_choose.dao.MajorDao.get">
        </association>
        <association property="grades" javaType="com.lcvc.intern_choose.model.Grades" column="gradeId" select="com.lcvc.intern_choose.dao.GradesDao.get">
        </association>
    </resultMap>

    <select id="readAll"  resultMap="majorAndGrade">
        select * from classes order by Id
    </select>

    <select id="get"  resultMap="majorAndGrade">
        select * from classes where id=#{id}
    </select>

    <select id="query" resultMap="majorAndGrade">
        select * from classes
        order by id asc limit #{offset},#{length}
    </select>

    <select id="querySize" resultType="Integer">
        select count(1)  from classes
    </select>

    <insert id="save">
         insert into classes (id,name,majorId,gradeId)
         values(null,#{name},#{majorId},#{gradeId})
    </insert>

    <update id="update">
         update classes
         <set>
             <if test="name!=null">name=#{name},</if>
             <if test="majorId!=null">majorId=#{majorId},</if>
             <if test="gradeId!=null">gradeId=#{gradeId},</if>
         </set>
       where id=#{id}
    </update>

    <delete id="delete">
        delete from classes where id=#{id}
    </delete>


</mapper>