<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcvc.intern_choose.dao.MajorDao">
    <!--==================================基本查询============================-->
    <!--professional 关联对象    -->
    <resultMap id="professional" type="com.lcvc.intern_choose.model.Major">
        <association property="professional" javaType="com.lcvc.intern_choose.model.Professional" column="professionalId" select="com.lcvc.intern_choose.dao.ProfessionalDao.get">
        </association>
    </resultMap>
    <select id="readAll" resultMap="professional">
        select * from major
        <include refid="queryWhere"></include>
        order by id
    </select>

    <select id="query" resultMap="professional">
        select * from major
        <include refid="queryWhere"></include>
        order by id asc limit #{offset},#{length}
    </select>

    <select id="querySize" resultType="Integer">
        select count(1)  from major
        <include refid="queryWhere"></include>
    </select>

    <select id="get" resultMap="professional">
        select * from  Major where id=#{id}
    </select>

    <insert id="save">
        insert into intern_choose.Major(id,name,professionalId,open) values (null ,#{name},#{professionalId},#{open})
    </insert>

    <update id="update">
         update Major
         <set>
             <if test="name!=null">name = #{name} ,</if>
             <if test="professionalId!=null">professionalId = #{professionalId},</if>
             <if test="open!=null">open = #{open},</if>
         </set>
         where id = #{id}
    </update>

    <delete id="delete">
         delete from Major where id = #{id}
    </delete>

    <!--统一查询的条件-->
    <sql id="queryWhere">
        <if test="objectQuery!=null">
            <where>
                <if test="objectQuery.professionalId!=null">
                    and professionalId=#{objectQuery.professionalId}
                </if>
                <!-- 根据professional查询学生集合-->
                <if test="objectQuery.professionalIds!=null">
                    <if test="objectQuery.professionalIds.size()>0">
                        professionalId  in
                        <foreach item="items" collection="objectQuery.professionalIds" open="(" separator="," close=")">
                            #{items}
                        </foreach>
                    </if>
                </if>
                <if test="objectQuery.open!=null and objectQuery.availableOpen==true">
                    and open=#{objectQuery.open}
                </if>
            </where>
        </if>
    </sql>
</mapper>