<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcvc.intern_choose.dao.ProfessionalDao">
    <!--==================================基本查询============================-->

    <select id="readAll" resultType="Professional">
        select * from professional order by id
    </select>

    <select id="get" resultType="Professional">
        select * from  professional where id=#{id}
    </select>

    <insert id="save">
        insert into professional (id,name) values (null ,#{name})
    </insert>

    <update id="update">
         update professional set name = #{name} where id = #{id}
    </update>

    <delete id="delete">
         delete from professional where id = #{id}
    </delete>

</mapper>