<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lcvc.intern_choose.dao.ProfessionalGradeDao">
    <!--==================================基本查询============================-->
    <!--professional 关联对象    -->
    <resultMap id="professional" type="com.lcvc.intern_choose.model.ProfessionalGrade">
        <association property="professional" javaType="com.lcvc.intern_choose.model.ProfessionalGrade" column="professionalId" select="com.lcvc.intern_choose.dao.ProfessionalDao.get">
        </association>
    </resultMap>

    <select id="readAll" resultMap="professional">
        select * from  professional_grade
       <include refid="queryWhere"></include>
    </select>

    <select id="query" resultMap="professional">
        select * from professional_grade
        <include refid="queryWhere"></include>
        order by id asc limit #{offset},#{length}
    </select>

    <select id="querySize" resultType="Integer">
        select count(1) from professional_grade
    </select>


    <select id="get" resultMap="professional">
        select * from  professional_grade where id=#{id}
    </select>

    <insert id="save">
         insert into professional_grade(Id,professionalId, gradeId, startTime, endTime)
          values (null , #{professionalId},#{gradeId},#{startTime},#{endTime})
    </insert>

    <delete id="delete">
        delete from professional_grade where id = #{id}
    </delete>

    <update id="update">
        update professional_grade set professionalId = #{professionalId} ,gradeId = #{gradeId},startTime = #{startTime} , endTime = #{endTime} where id = #{id}
    </update>
    
    <!--统一查询的条件-->
    <sql id="queryWhere">
    <if test="objectQuery!=null">
        <where>
            <if test="objectQuery.professionalId!=null">
                and professionalId=#{objectQuery.professionalId}
            </if>
            <if test="objectQuery.gradeId!=null">
                and gradeId=#{objectQuery.gradeId}
            </if>
            <if test="objectQuery.open!=null and objectQuery.availableOpen==true">
                and open=#{objectQuery.open}
            </if>
        </where>
    </if>
    </sql>

</mapper>