<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 指明这个映射文件adminMapper.xml的逻辑路径,如果与接口建立映射，那么逻辑路径应该与接口的物理路径一致-->
<mapper namespace="com.lcvc.intern_choose.dao.TeacherDao">
    <!--==================================基本查询============================-->
    <!--professional 关联对象    -->
    <resultMap id="professional" type="com.lcvc.intern_choose.model.Teacher">
        <association property="professional" javaType="com.lcvc.intern_choose.model.Professional" column="professionalId" select="com.lcvc.intern_choose.dao.ProfessionalDao.get">
        </association>
    </resultMap>
    <select id="get" resultMap="professional">
        select * from teacher where teacherNumber=#{teacherNumber}
    </select>

    <select id="login"  resultType="Integer">
        select count(1) from teacher where teacherNumber=#{teacherNumber} and password=#{password}
    </select>

    <select id="readAll" resultMap="professional">
        select * from teacher
    </select>

    <insert id="save">
        insert into teacher(teacherNumber, name, password, professionalId) values (#{teacherNumber},#{name},#{password},#{professionalId})
    </insert>

    <update id="update">
         update teacher set name = #{name} , password = #{password} , professionalId = #{professionalId} where teacherNumber = #{teacherNumber}
    </update>

    <delete id="delete">
         delete from teacher where teacherNumber = #{teacherNumber}
    </delete>


</mapper>